!!!
%html
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %title= @title
    %style
      :sass
        body
          .headline
            font-weight: bold
          .answer
            margin-top: -1em
            display: none
        body.revealed
          .answer
            display: block
          .real .answer
            color: #0C0
          .fake .answer
            color: #C00
    :javascript
      function facit() {
        document.body.className = document.body.className=="revealed" ? "" : "revealed";
        return false;
      }

    %body
      %h1= @title
      %p Vissa av följande rubriker från Aftonbladet är riktiga, vissa är <a href="http://sv.wikipedia.org/wiki/Markovkedja">stokastiskt genererade</a>. Gissa!
      %ol
        - @data.each do |headline, url, real|
          %li{ :class => (real ? 'real' : 'fake') }
            %p.headline= Rack::Utils.escape_html headline
            %p.answer
              - if real
                == ✓ Riktig rubrik - <a href="#{url}">läs artikeln</a>
              - else
                ✗ Markov
            
      %p <a href="javascript:facit()">Dölj/visa facit</a>
      %p <a href="/">Visa fler</a>
